h1#main_header{
	text-align: center;
}
div#header{
	background-color:powderblue;
    padding:5px;
}
#header_tabs li{
	display: inline;
	list-style-type: none;
	text-align: left;
	background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
div#navigation{
	line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
}
div#section{
	width:350px;
    float:left;
    padding:10px; 
}
div#footer{
	background-color: powderblue;
    clear:both;
    text-align:center;
    padding:5px; 
}